@import 'tailwindcss';

html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #fff;
  font-family: 'Brockmann', Montserrat, Tahoma, Geneva, Verdana, sans-serif;
  min-width: 22.5rem;
  overflow-x: hidden;
}
